/* @import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  @apply m-0 p-0 box-border;
}

ul {
  @apply list-none;
}

#root {
  @apply h-screen flex justify-center align-middle bg-white;
}

#app {
  @apply w-[1200px] h-[800px] py-[40px] px-[80px];
}

.contents-container {
  @apply w-[1040px] h-[550px] flex flex-col flex-wrap;
}

/* html.dark {
  --color-main: #e67800;
  --color-sub: #ffedd5;
  --color-inactive: #ffcc89;
  --color-white: #22243b;
  --color-border: #e1e2e3;
  --color-cancel: #808080;
  --color-text: #fff;
}

.contents-container {
  width: 1040px;
  height: 550px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */
