header {
  background-color: var(--color-white);
  height: 80px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--color-border);
}

header h1 {
  color: var(--color-main);
  margin-left: 10px;
  font-size: 32px;
  font-weight: 900;
}

header button {
  color: var(--color-inactive);
  background: transparent;
  cursor: pointer;
  border: none;

  font-size: 24px;
  font-weight: 800;
  margin: 0 10px;
}

header button.active {
  color: var(--color-main);
}
